{% extends "base.html" %}{% block title %}Education Add{% endblock %}


{% block content %}
<form method="POST">
    <h3 align="center">Eğitim Bilgileri Ekleme</h3>
    <div class="form-group">
      <label for="name_of_educational_institution">Okulun Adı</label>
      <input
        type="text"
        class="form-control"
        id="name_of_educational_institution"
        name="name_of_educational_institution"
        placeholder="Okul adı giriniz."
      />
    </div>
    <div class="form-group">
      <label for="department">Bölüm</label>
      <input
        type="text"
        class="form-control"
        id="department"
        name="department"
        placeholder="Bölüm adı giriniz."
      />
    </div>
    <div class="form-group">
      <label for="degree">Derece</label>
      <input
        type="text"
        class="form-control"
        id="degree"
        name="degree"
        placeholder="Derece giriniz."
      />
    </div>
    <div class="form-group">
        <label for="starting_date">Başlama Tarihi</label>
        <input
          type="date"
          class="form-control"
          id="starting_date"
          name="starting_date"
          placeholder="Başlama tarihi giriniz."
        />
      </div>
      <div class="form-group">
        <label for="graduation_date">Mezuniyet Tarihi</label>
        <input
          type="date"
          class="form-control"
          id="graduation_date"
          name="graduation_date"
          placeholder="Mezuniyet tarihi giriniz."
        />
      </div>
    <br />
    <button type="submit" class="btn btn-primary">Ekle</button>
  </form>

  {% endblock %}
