{% extends "base.html" %}{% block title %}Education Add{% endblock %}


{% block content %}
<form method="POST">
    <h3 align="center">Add Education</h3>
    <div class="form-group">
      <label for="name_of_educational_institution">Name Of Educational Institution</label>
      <input
        type="text"
        class="form-control"
        id="name_of_educational_institution"
        name="name_of_educational_institution"
        placeholder="Enter name of educational institution"
      />
    </div>
    <div class="form-group">
      <label for="department">Department</label>
      <input
        type="text"
        class="form-control"
        id="department"
        name="department"
        placeholder="Enter department"
      />
    </div>
    <div class="form-group">
      <label for="degree">Degree</label>
      <input
        type="text"
        class="form-control"
        id="degree"
        name="degree"
        placeholder="Enter degree"
      />
    </div>
    <div class="form-group">
        <label for="starting_date">Starting Date</label>
        <input
          type="date"
          class="form-control"
          id="starting_date"
          name="starting_date"
          placeholder="Enter starting date"
        />
      </div>
      <div class="form-group">
        <label for="graduation_date">Graduation Date</label>
        <input
          type="date"
          class="form-control"
          id="graduation_date"
          name="graduation_date"
          placeholder="Enter graduation date"
        />
      </div>
    <br />
    <button type="submit" class="btn btn-primary">Add</button>
  </form>

  {% endblock %}
