{% extends "base.html" %}{% block title %}Experience Add{% endblock %}


{% block content %}
<form method="POST">
    <h3 align="center">Deneyim Ekleme</h3>
    <div class="form-group">
      <label for="job_title">İş Başlığı</label>
      <input
        type="text"
        class="form-control"
        id="job_title"
        name="job_title"
        placeholder="İş başlığı giriniz."
      />
    </div>
    <div class="form-group">
      <label for="company_name">Şirket Adı</label>
      <input
        type="text"
        class="form-control"
        id="company_name"
        name="company_name"
        placeholder="Şirket adı giriniz."
      />
    </div>
    <div class="form-group">
      <label for="starting_date">Başlama Tarihi</label>
      <input
        type="date"
        class="form-control"
        id="starting_date"
        name="starting_date"
        placeholder="Başlama tarihi giriniz."
      />
    </div>
    <div class="form-group">
      <label for="termination_date">Ayrılma Tarihi</label>
      <input
        type="date"
        class="form-control"
        id="termination_date"
        name="termination_date"
        placeholder="Ayrılma tarihi giriniz."
      />
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Ekle</button>
  </form>

  {% endblock %}
