{% extends "base.html" %}{% block title %}RSM Add{% endblock %}


{% block content %}
<form method="POST">
    <h3 align="center">Özgeçmiş Ekleme</h3>
    <div class="form-group">
      <label for="skills">Yetkinlikler</label>
      <input
        type="text"
        class="form-control"
        id="skills"
        name="skills"
        placeholder="Yetkinliklerinizi giriniz"
      />
    </div>
    <div class="form-group">
      <label for="languages">Diller</label>
      <input
        type="text"
        class="form-control"
        id="languages"
        name="languages"
        placeholder="Bildiğiniz dilleri giriniz."
      />
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Ekle</button>
  </form>

  {% endblock %}
