{% extends "base.html" %}{% block title %}Sign Up{% endblock %}

{% block content %}

<form method="POST">
    <h3 align="center">Kayıt Ol</h3>
    <div class="form-group">
      <label for="email">Email Adresi</label>
      <input
        type="email"
        class="form-control"
        id="email"
        name="email"
        placeholder="Email adresi giriniz."
      />
    </div>
    <div class="form-group">
        <label for="name">Ad Soyad</label>
        <input
          type="text"
          class="form-control"
          id="name"
          name="name"
          placeholder="Ad soyad giriniz."
        />
    </div>
    <div class="form-group">
        <label for="password">Şifre</label>
        <input
          type="password"
          class="form-control"
          id="password"
          name="password"
          placeholder="Şifre giriniz."
        />
    </div>
    <div class="form-group">
      <label for="identity_number">TC Kimlik No</label>
      <input
        type="text"
        class="form-control"
        id="identity_number"
        name="identity_number"
        placeholder="TC kimlik no giriniz."
        />
      </div>
      <div class="form-group">
        <label for="date_of_birth">Doğum Tarihi</label>
        <input
          type="date_of_birth"
          class="form-control"
          id="date_of_birth"
          name="date_of_birth"
          placeholder="Doğum tarihi giriniz."
          />
        </div>
    <br />
    <button type="submit" class="btn btn-primary">Kayıt Ol</button>
</form>
{% endblock %}